<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTDMapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.free.mapper.UsersMapper">
    <select id="selectAllUsers" resultType="com.free.pojo.Users">
        select * FROM t_user;
    </select>

</mapper>

